core:
  type: core
  has_rail: True
  ip: "192.168.254.106"
  has_toolchanger: True 
  toolchanger_output: 0
  attach:
    parent_name: fixture_plate_1
    parent_solid: fixture_plate
    parent_anchor: E10
    child_solid: rail_base
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]
  robot_attach:
    rail_carriage_anchor: hole_1
    robot_A0_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_1:
  type: fixture_plate

fixture_plate_2:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: fixture_plate
    parent_anchor: corner_3
    child_solid: fixture_plate
    child_anchor: corner_0

fixture_plate_3:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: fixture_plate
    parent_anchor: corner_1
    child_solid: fixture_plate
    child_anchor: corner_0

fixture_plate_4:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: fixture_plate
    parent_anchor: corner_2
    child_solid: fixture_plate
    child_anchor: corner_0

fixture_plate_5:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: fixture_plate
    parent_anchor: corner_1
    child_solid: fixture_plate
    child_anchor: corner_2

fixture_plate_6:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_3
    parent_solid: fixture_plate
    parent_anchor: corner_1
    child_solid: fixture_plate
    child_anchor: corner_2

tool_rack_1:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: fixture_plate
    parent_anchor: E19
    child_solid: tool_rack
    child_anchor: center
    offset: [0,0,0,0,0,90]

gripper_1:
  type: sbs_gripper_width
  has_toolchanger: True 
  attach:
    parent_name: tool_rack_1
    parent_solid: tool_rack
    parent_anchor: tool_connection
    child_solid: toolchanger_tool_side
    child_anchor: tool_rack_connection


sbs_adapter_1:
  type: sbs_adapter
  attach:
    parent_name: fixture_plate_4
    parent_solid: fixture_plate
    parent_anchor: F2
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 90]


microplate_1:
  type: plate_autosampler_2ml
  full: False
  attach:
    parent_name: sbs_adapter_1
    parent_solid: solid_0
    parent_anchor: place
    child_solid: solid_0
    child_anchor: center

{% for r in "AB" %}
{% for c in range(1, 2) %}
body_{{ r }}{{ c }}:
  type: body_autosampler_2ml
  attach:
    parent_name: microplate_1
    parent_solid: solid_0
    parent_anchor: {{ r }}{{ c }}
    child_solid: solid_0
    child_anchor: center

cap_{{ r }}{{ c }}:
  type: cap_autosampler_2ml
  attach:
    parent_name: body_{{ r }}{{ c }}
    parent_solid: solid_0
    parent_anchor: place
    child_solid: solid_0
    child_anchor: center

{% endfor %}
{% endfor %}

sbs_adapter_2:
  type: sbs_adapter
  attach:
    parent_name: fixture_plate_4
    parent_solid: fixture_plate
    parent_anchor: F8
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 90]

hotel_1:
  type: sbs_hotel_4_level
  attach:
    parent_name: fixture_plate_6
    parent_solid: fixture_plate
    parent_anchor: E3
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, -90]

hotel_2:
  type: sbs_hotel_4_level
  attach:
    parent_name: fixture_plate_6
    parent_solid: fixture_plate
    parent_anchor: E8
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, -90]

hotel_3:
  type: sbs_hotel_4_level
  attach:
    parent_name: fixture_plate_6
    parent_solid: fixture_plate
    parent_anchor: E13
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, -90]

hotel_4:
  type: sbs_hotel_4_level
  attach:
    parent_name: fixture_plate_6
    parent_solid: fixture_plate
    parent_anchor: E18
    child_solid: solid_0
    child_anchor: center
    offset: [0, 0, 0, 0, 0, -90]

hotel_5:
  type: sbs_hotel_4_level
  attach:
    parent_name: hotel_1
    parent_solid: solid_0
    parent_anchor: center_3
    child_solid: solid_0
    child_anchor: center

hotel_6:
  type: sbs_hotel_4_level
  attach:
    parent_name: hotel_2
    parent_solid: solid_0
    parent_anchor: center_3
    child_solid: solid_0
    child_anchor: center

hotel_7:
  type: sbs_hotel_4_level
  attach:
    parent_name: hotel_3
    parent_solid: solid_0
    parent_anchor: center_3
    child_solid: solid_0
    child_anchor: center

hotel_8:
  type: sbs_hotel_4_level
  attach:
    parent_name: hotel_4
    parent_solid: solid_0
    parent_anchor: center_3
    child_solid: solid_0
    child_anchor: center
