core:
  type: core
  simulation: False
  has_rail: True
  has_tool_changer: True
  ip: "192.168.254.88"
  tool_changer:
    present: True
    attach: [] 
    detach: []
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: D10
    child_solid: rail_base
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]
  robot_attach:
    rail_carriage_anchor: hole_1
    robot_A0_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_1:
  type: fixture_plate

fixture_plate_2:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_3
    child_solid: body
    child_anchor: corner_0

fixture_plate_3:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_1
    child_solid: body
    child_anchor: corner_0

fixture_plate_4:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_2
    child_solid: body
    child_anchor: corner_0

tool_rack_0:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: A18
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]

gripper_0:
  type: tube_gripper_4_finger
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_0
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection


tool_rack_1:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: D18
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]

gripper_1:
  type: suction_gripper
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_1
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection


tool_rack_2:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: I18
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]

gripper_2:
  type: sbs_gripper_width
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_2
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection

{# hotel storage #}
hotel_0:
  type: hotel_sbs_4lvl
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: G18
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

{% for level in range(4) %}
microplate_{{ level }}:
  type: rack_autosampler_2ml
  attach:
    parent_name: hotel_0
    parent_solid: body
    parent_anchor: place_{{ level }}
    child_solid: body
    child_anchor: center

{% for r in "ABCDEF" %}
{% for c in range(1, 9) %}
tube_{{ level }}_{{ r }}{{ c }}:
  type: tube_autosampler_2ml
  attach:
    parent_name: microplate_{{ level }}
    parent_solid: body
    parent_anchor: {{ r }}{{ c }}
    child_solid: body
    child_anchor: center
cap_{{level}}_{{ r }}{{ c }}:
  type: cap_autosampler_2ml
  attach:
    parent_name: feeder
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center
{% endfor %}
{% endfor %}
{% endfor %}


{# feeder#}
feeder:
  type: capfeeder_autosampler_2ml
  attach:
    parent_name: fixture_plate_2
    parent_solid: body
    parent_anchor: F5
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 180]


sbs_adapter_0:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: E7
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

sbs_adapter_1:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_2
    parent_solid: body
    parent_anchor: E17
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

capholder:
  type: capholder_autosampler_2ml
  attach:
    parent_name: sbs_adapter_1
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center


syringe_dispence_0:
  type: syringe_dispense_arm
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: G1
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

decapper_0:
  type: decapper
  attach:
    parent_name: syringe_dispence_0
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 0]

