core:
  type: "core"
  simulation: true
  ip: ""
  has_rail: true
  rail_offset: 0
  has_tool_changer: true
  has_motion_plan: true
  has_camera: true
  camera_serial_number: ""
  robot_attach:
    rail_carriage_anchor: "hole_1"
    robot_A0_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]
  rail_cfg:
    type: "rail_hd_1000mm"
    axis: 6
    offset: 0
    usem: 1
    pprm: 4000
    tprm: 75
    usee: 1
    ppre: 4000
    tpre: 75
    p: 0.01
    i: 0.0001
    d: 0
    duration: 100
    threshold: 100
  attach:
    parent_name: "fixture_plate_2"
    parent_solid: "body"
    parent_anchor: "D10"
    child_solid: "rail_base"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_1:
  type: "fixture_plate"
  offset: [0, 0, 0, 0, 0, 0]

fixture_plate_2:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_4:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "corner_2"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_7:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "corner_2"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

adapter_plate_amber_40ml_2x4_1:
  type: "adapter_plate_amber_40ml_2x4"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "E1"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

adapter_plate_amber_40ml_4x7_1:
  type: "adapter_plate_amber_40ml_4x7"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "E9"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

adapter_plate_autosampler_2ml_5x10_1:
  type: "adapter_plate_autosampler_2ml_5x10"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "C15"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

adapter_plate_autosampler_2ml_5x10_2:
  type: "adapter_plate_autosampler_2ml_5x10"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "C10"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

adapter_plate_autosampler_2ml_5x10_3:
  type: "adapter_plate_autosampler_2ml_5x10"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "C5"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

capfeeder_autosampler_2ml_1:
  type: "capfeeder_autosampler_2ml"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "G5"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0.0002, 0, -90]

capholder_autosampler_2ml_5x10_1:
  type: "capholder_autosampler_2ml_5x10"
  attach:
    parent_name: "adapter_plate_autosampler_2ml_5x10_1"
    parent_solid: "body"
    parent_anchor: "place"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]

decapper_1:
  type: "decapper"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "H18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

decapper_2:
  type: "decapper"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "E18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

decapper_3:
  type: "decapper"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "B18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

decapper_4:
  type: "decapper"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "J12"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 180]

decapper_5:
  type: "decapper"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "G12"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 180]

fixture_plate_3:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_2"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_5:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_4"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_6:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_5"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_8:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_9:
  type: "fixture_plate"
  attach:
    parent_name: "fixture_plate_8"
    parent_solid: "body"
    parent_anchor: "corner_0"
    child_solid: "body"
    child_anchor: "corner_3"
    offset: [0, 0, 0, 0, 0, 0]

inspection_horizontal_144mm_1:
  type: "inspection_horizontal_144mm"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "J18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 180]

rack_amber_40ml_2x4_1:
  type: "rack_amber_40ml_2x4"
  attach:
    parent_name: "adapter_plate_amber_40ml_2x4_1"
    parent_solid: "body"
    parent_anchor: "place"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]

rack_amber_40ml_4x7_1:
  type: "rack_amber_40ml_4x7"
  attach:
    parent_name: "adapter_plate_amber_40ml_4x7_1"
    parent_solid: "body"
    parent_anchor: "place"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]

rack_autosampler_2ml_5x10_1:
  type: "rack_autosampler_2ml_5x10"
  attach:
    parent_name: "adapter_plate_autosampler_2ml_5x10_2"
    parent_solid: "body"
    parent_anchor: "place"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]

rack_autosampler_2ml_5x10_2:
  type: "rack_autosampler_2ml_5x10"
  attach:
    parent_name: "adapter_plate_autosampler_2ml_5x10_3"
    parent_solid: "body"
    parent_anchor: "place"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]

scale_1:
  type: "scale"
  attach:
    parent_name: "fixture_plate_9"
    parent_solid: "body"
    parent_anchor: "C13"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

shaker_2slot_1:
  type: "shaker_2slot"
  attach:
    parent_name: "fixture_plate_6"
    parent_solid: "body"
    parent_anchor: "F15"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 270]

shaker_2slot_2:
  type: "shaker_2slot"
  attach:
    parent_name: "fixture_plate_9"
    parent_solid: "body"
    parent_anchor: "D4"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

tool_rack_144mm_1:
  type: "tool_rack_144mm"
  attach:
    parent_name: "fixture_plate_8"
    parent_solid: "body"
    parent_anchor: "J18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

tool_rack_144mm_2:
  type: "tool_rack_144mm"
  attach:
    parent_name: "fixture_plate_8"
    parent_solid: "body"
    parent_anchor: "F18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

tool_rack_144mm_3:
  type: "tool_rack_144mm"
  attach:
    parent_name: "fixture_plate_8"
    parent_solid: "body"
    parent_anchor: "B18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

tool_rack_144mm_4:
  type: "tool_rack_144mm"
  attach:
    parent_name: "fixture_plate_7"
    parent_solid: "body"
    parent_anchor: "D18"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 90]

rack_amber_40ml_4x7_2:
  type: "rack_amber_40ml_4x7"
  attach:
    parent_name: "fixture_plate_6"
    parent_solid: "body"
    parent_anchor: "D3"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]
