core:
  type: core
  simulation: True
  has_rail: True
  has_tool_changer: True
  ip: "192.168.254.106"
  tool_changer:
    present: True
    attach: [] 
    detach: []
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: E10
    child_solid: rail_base
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]
  robot_attach:
    rail_carriage_anchor: hole_1
    robot_A0_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_1:
  type: fixture_plate

fixture_plate_2:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_3
    child_solid: body
    child_anchor: corner_0

fixture_plate_3:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_1
    child_solid: body
    child_anchor: corner_0

fixture_plate_4:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_2
    child_solid: body
    child_anchor: corner_0


tool_rack_0:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: C19
    child_solid: body
    child_anchor: center
    offset: [0,0,0,0,0,90]

gripper_0:
  type: gripper_tube_large
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_0
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection


tool_rack_1:
  type: tool_rack
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: F19
    child_solid: body
    child_anchor: center
    offset: [0,0,0,0,0,90]

pipettor_0:
  type: pipettor_sp28_40mm
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_1
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection


printer_0:
  type: printer_axon_1
  attach:
    parent_name: fixture_plate_2
    parent_solid: body
    parent_anchor: E11
    child_solid: body
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 0]


adapter_falcon_1:
  type: adapter_plate_falcon_15ml
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: F4
    child_solid: body
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 90]

plate_falcon_1:
  type: rack_falcon_15ml
  attach:
    parent_name: adapter_falcon_1
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center


{% for r in "ABCD" %}
{% for c in range(1, 6) %}
falcon_{{ r }}{{ c }}:
  type: tube_falcon_15ml
  attach:
    parent_name: plate_falcon_1
    parent_solid: body
    parent_anchor: {{ r }}{{ c }}
    child_solid: body
    child_anchor: center
cap_{{ r }}{{ c }}:
  type: cap_falcon_15ml
  attach:
    parent_name: falcon_{{ r }}{{ c }}
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center
{% endfor %}
{% endfor %}

adapter_sbs_0:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: C10
    child_solid: body
    child_anchor: center
    offset: [0, 0, 10, 0, 0, 0]

plate_tip_0:
  type: rack_axygen_180ul
  rvec_safe: [0, 0, -90]
  attach:
    parent_name: adapter_sbs_0
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center

adapter_sbs_1:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: H10
    child_solid: body
    child_anchor: center
    offset: [0, 0, 10, 0, 0, 0]

plate_tip_1:
  type: rack_axygen_180ul
  rvec_safe: [0, 0, -135]
  attach:
    parent_name: adapter_sbs_1
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center


{% for r in "ABCDEFGH" %}
{% for c in range(1, 13) %}
tip{{ r }}{{ c }}:
  type: tip_axygen_180ul
  attach:
    parent_name: plate_tip_1
    parent_solid: body
    parent_anchor: {{ r }}{{ c }}
    child_solid: body
    child_anchor: center
{% endfor %}
{% endfor %}


vision_station:
  type: horizontal_inspection_station
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: I19
    child_solid: body
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 180]