anode_1:
  type: "anode"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "E13"
    child_solid: "body"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

rotating_cylinder_mkb1630_1:
  type: "rotating_cylinder_mkb1630"
  attach:
    parent_name: "fixture_plate_1"
    parent_solid: "body"
    parent_anchor: "A11"
    child_solid: "housing"
    child_anchor: "hole_0"
    offset: [0, 0, 0, 0, 0, 0]

cathode_1:
  type: "cathode"
  attach:
    parent_name: "rotating_cylinder_mkb1630_1"
    parent_solid: "housing"
    parent_anchor: "top"
    child_solid: "body"
    child_anchor: "center"
    offset: [0, 0, 0, 0, 0, 0]
