{% set speed_scale = 1 %}

tool_rack_1:
  class: workspace.recipes.tool_rack.ToolRack
  kwargs:
    component: tool_rack_1
    left_approach: true
    speed_scale: {{ speed_scale }}

tool_rack_0:
  class: workspace.recipes.tool_rack.ToolRack
  kwargs:
    component: tool_rack_0
    left_approach: true
    speed_scale: {{ speed_scale }}

waste_bin:
  class: workspace.recipes.pipetting.PipettingSite
  kwargs:
    component: adapter_sbs_1
    base_distance: 250
    speed_scale: {{ speed_scale }}

tip_rack:
  class: workspace.recipes.pipetting.PipettingSite
  kwargs:
    component: adapter_sbs_0
    base_distance: 250
    speed_scale: {{ speed_scale }}

falcon_pipette:
  class: workspace.recipes.pipetting.PipettingSite
  kwargs:
    component: adapter_falcon
    base_distance: 200
    speed_scale: {{ speed_scale }}

falcon_rack:
  class: workspace.recipes.rack.Rack
  kwargs:
    component: adapter_falcon
    base_distance: 200
    speed_scale: {{ speed_scale }}

decapper:
  class: workspace.recipes.decapper.Decapper
  kwargs:
    component: decapper
    base_distance: 200
    speed_scale: {{ speed_scale }}

printer:
  class: workspace.recipes.printer.Printer
  kwargs:
    component: printer
    speed_scale: {{ speed_scale }}

inspector:
  class: workspace.recipes.inspector.FixedInspector
  kwargs:
    component: vision_station
    detection_preset: {}
