core:
  type: core
  simulation: True
  has_rail: True
  has_tool_changer: True
  ip: ""
  tool_changer:
    present: True
    attach: [] 
    detach: []
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: D10
    child_solid: rail_base
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]
  robot_attach:
    rail_carriage_anchor: hole_1
    robot_A0_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 0]

fixture_plate_1:
  type: fixture_plate

fixture_plate_2:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_3
    child_solid: body
    child_anchor: corner_0

fixture_plate_3:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_1
    child_solid: body
    child_anchor: corner_0

fixture_plate_4:
  type: fixture_plate
  attach:
    parent_name: fixture_plate_1
    parent_solid: body
    parent_anchor: corner_2
    child_solid: body
    child_anchor: corner_0

tool_rack_0:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: A17
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]

gripper_0:
  type: gripper_calibration
  has_tool_changer: True 
  attach:
    parent_name: tool_rack_0
    parent_solid: body
    parent_anchor: place
    child_solid: tool_changer_tool_side
    child_anchor: tool_rack_connection


tool_rack_1:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: E17
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]

tool_rack_2:
  type: tool_rack
  attach:
    parent_name: fixture_plate_3
    parent_solid: body
    parent_anchor: J17
    child_solid: body
    child_anchor: hole_0
    offset: [0,0,0,0,0,90]


hotel_0:
  type: hotel_sbs_52h_4lvl
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: G14
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]


feeder:
  type: capfeeder_autosampler_2ml
  attach:
    parent_name: fixture_plate_2
    parent_solid: body
    parent_anchor: E4
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 180]


sbs_adapter_0:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: E5
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

sbs_adapter_1:
  type: adapter_plate_sbs
  attach:
    parent_name: fixture_plate_2
    parent_solid: body
    parent_anchor: E16
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, 90]

capholder:
  type: capholder_autosampler_2ml
  attach:
    parent_name: sbs_adapter_1
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center


syringe_dispence_0:
  type: syringe_dispense_arm
  attach:
    parent_name: fixture_plate_4
    parent_solid: body
    parent_anchor: C3
    child_solid: body
    child_anchor: hole_0
    offset: [0, 0, 0, 0, 0, -90]

decapper_0:
  type: decapper
  attach:
    parent_name: syringe_dispence_0
    parent_solid: body
    parent_anchor: place
    child_solid: body
    child_anchor: center
    offset: [0, 0, 0, 0, 0, 180]

